* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: rgb(49, 62, 72);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: rgb(230, 230, 230);
}

dialog {
    display: none;
    margin: auto auto;
    height: fit-content;
    width: fit-content;
    padding: 1em;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1lh;
}

.dialog-inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5em;
}

.score {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.title-screen {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5lh;
}

.game-screen {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

button {
    width: 10em;
    height: 3lh;
    border-radius: 1lh;
    border: none;
}

.score {
    display: flex;
    justify-content: center;
}

.player {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 1.2em;
    padding: 0.5em;
    height: 2lh;
    width: 20%;
    background-color: rgb(68, 81, 104);
    gap: 1em;
}

.name {
    justify-self: start;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 2lh;
    aspect-ratio: 1/1;
    background-color: white;
    border: 2px solid black;
}

.active {
    border: 1px solid greenyellow;
    box-shadow: 0 0 3px 3px greenyellow;
}

.status {
    text-align: center;
}